/* Paleta de  Cores : #001b40 (Azul escuro), #e6b22d(Amarelo)  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

a{
    text-decoration: none;
}

body{
    background-color: #001b40;
}

main{ 
    margin: 50px ;
    background-color: #e6b22d;
    padding-bottom: 50px;
    margin-left: 25%;
    padding-left: 20px;
    max-width: 600px;
    align-items: center;
    padding-right: 20px;
    text-align: justify;
}

h1{
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizando botão para ir para cima na página*/

#btn-voltar-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  #btn-voltar-topo:hover {
    opacity: 1;
  }
  
/* Estilizando botão para ir para cima na página*/ 

footer{
    background-color: #e6b22d;
    text-align: center;

}

