*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Paleta de  Cores : #001b40 (Azul escuro), #e6b22d(Amarelo)  */

header{
    background-color: #001b40;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 1rem;
}

nav ul{
    display:flex;
    list-style: none;
      
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.2s;
}

h1{
    padding: 1rem;
    text-align: center;
}

.Sobremim{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 1rem;
    margin-left: 1rem;
}

p{
    text-align: justify;
}

footer{
    background-color: #001b40;
   
}

