*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Paleta de  Cores : #001b40 (Azul escuro), #e6b22d(Amarelo)  */

header{
    background-color: #001b40;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1px;;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}

li{
    float:left;
}

li a, .droplink {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .drop:hover .droplink{
    background-color: #e6b22d;
}

li .drop{
    display:inline-block;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: #e6b22d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.drop:hover .dropdown {
    display: block;
}
  
h1{
    padding: 1rem;
    text-align: center;
}

.aboutMe{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 1rem;
    margin-left: 1rem;
}

p{
    text-align: justify;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services{
    background-color: #e6b22d;
    width: 300px; 
    height: 400px;
    text-align: center;   
    border-radius: 10px;
}

.services:hover{
    background-color:#f1f1f1
}

h2{
    text-align: center;
    padding: 50px;

}

.services p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}


footer{
    background-color: #001b40;
   
}

